.sidenav {
  display: flex;
  flex-direction: column;
  width: 96px;
  background-color: var(--color-dark-muted);
  margin: 32px;
  border: 1px solid;
  padding: 28px;
  border-radius: 20px;
  height: 100%;
}

.nav_btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  margin-top: 75px;
  margin-bottom: 552px;
}

.focus {
  filter: brightness(0) invert(1);
}
