.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  border: none;
  border-radius: 50%;
  background-color: hsla(223, 30%, 9%, 0.5);

  position: absolute;
  top: 0;
  right: 0;
}
